[Unit]
Description=Backend part of arduino system
After=network.target
Requires=network.target

[Service]
WorkingDirectory=/var/www/garage/web
ExecStart=/usr/local/rvm/rubies/ruby-2.4.2/bin/ruby /var/www/garage/web/main.rb

Restart=always
RestartSec=5
TimeoutSec=5
User=root

[Install]
WantedBy=multi-user.target
