[Unit]
Description=Backend part of arduino system
After=network.target
Requires=network.target

[Service]
ExecStart=/usr/bin/ruby /var/www/garage/web/main.irb

Restart=always
RestartSec=5
TimeoutSec=5
User=root

[Install]
WantedBy=multi-user.target
